<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
<!--  声明组件扫描器 component-scan,组件就是java对象-->
<!--    base-pakeage 指定注解在你组件的包名-->
<!--    工作方式 : spring会扫描指定的包 把包中和子包中的所有类
                 找到类的注解  并且按照注解的功能创建对象 或者赋值-->
    <context:component-scan base-package="com.misaka"/>
</beans>