<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--  sping的主配置文件 包含其他的配置文件的 主配置文件一般是不定义对象的-->
<import resource="classpath:Spring_School.xml"/>
    <import resource="classpath:Spring_Student.xml"/>
</beans>