<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<!--注册扫描器-->
    <context:component-scan base-package="com.last.Service"/>
<!--    数据库链接池 -->
    <bean id="DataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="username" value="root"/>
        <property name="url" value="jdbc:mysql://localhost:3306/mybatis"/>
        <property name="password" value="spc652324"/>
    </bean>
<!--    sqlsession-->
    <bean id="SqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="DataSource"/>
        <property name="configLocation" value="classpath:myabtis.xml"/>
    </bean>
<!--    dao对象-->
    <bean id="dao" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="SqlSession"/>
        <property name="basePackage" value="com.last.Dao"/>
    </bean>
</beans>